<p class="adoption-text">You're adopting {{animal.name}}<br>
please write your user's id so we can<br>
register you on our database<br><br>
Thank you for adopting!</p>
<form class="adoption-form">
    <div class="form-group">
        <label for="user-id">User ID</label>
        <input type="text" class="user-id" id="user-id">
    </div>
    <a href="/"><button type="submit" class="btn btn-primary">Adopt</button></a>
</form>